---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const data = await fetch("https://cxixbvbqvysobvilzvts.supabase.co/rest/v1/artist", 
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4aXhidmJxdnlzb2J2aWx6dnRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA1MTA1ODAsImV4cCI6MjAyNjA4NjU4MH0.otcwFq8NXOsMpInRyBqcWEDfmC2mPYIB5gAnuiMKnlQ",
    },
  }
  ).then((response)=> response.json());

  return data.map((artist) => {
    return{
      params: {slug: artist.slug},
      props: {myData:artist},
    };
  });
}

const {myData} = Astro.props;
console.log(myData);

---

<Layout>
  <h1>{myData.artist_name}</h1>
  <img src={`/artist/${myData.img}`} alt="Artist">
  <p>{myData.description}</p>
  <p>{myData.time_and_where}</p>
  <p>{myData.genre}</p>
</Layout>
