---
import "../styles/general.css";
const {image1, image2, image3, image4, artist1, artist2, artist3, artist4} = Astro.props;
---

<section class="grid">
    <div>
        <img class="cirkel" src={image1} alt="">
        <h3>{artist1}</h3>
    </div>

    <div>
        <img class="cirkel" src={image2} alt="">
        <h3>{artist2}</h3>
    </div>

    <div>
        <img class="cirkel" src={image3} alt="">
        <h3>{artist3}</h3>
    </div>

    <div>
        <img class="cirkel" src={image4} alt="">
        <h3>{artist4}</h3>
    </div>
</section>

<style>
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 4rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .cirkel {
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    img {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 8px 8px #ff4d08;
        border-radius: 50%;
    }
</style>
