---
const header = Astro.props.header;
const pris = Astro.props.pris;
const type = Astro.props.type;
const text = Astro.props.text;
const { buttonPosition } = Astro.props;
import Button from "./Button.astro";
---

<div class="container">
  <div class="gradient-square">
    <h3 class="header_text">{header}</h3>
    <h2 class="type_text">{type}</h2>
    <p class="text_text">{text}</p>
    <p class="pris_text">{pris}</p>
    <div class="button_class">
      <a href="https://www.ticketmaster.dk/event/542817"
        ><Button buttonPosition={buttonPosition} /></a
      >
    </div>
  </div>
</div>
<style>
  .button_class {
    position: relative;
    width: 100%; /*dette er så vi kan placere knappen ift til containerens størrelse*/
    height: 100%;
    z-index: 5;
    /*     position: absolute;
    top: 50%; */
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Set the container height as needed */
  }
  .gradient-square {
    width: 940px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
    background: linear-gradient(to bottom, #ff4d08, #ffba9f);
    border-radius: 20px; /* Optional: Add rounded corners */
    padding: auto;
    position: relative;
  }

  .header_text {
    position: absolute;
    top: 20px; /* Adjust vertical position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: #f0e5ff;
    font-family: transformers;
    font-size: 1.5rem;
  }

  .type_text {
    position: absolute;
    top: 15%; /* Adjust vertical position */
    left: 50%; /* Center horizontally */
    transform: translate(
      -50%,
      -50%
    ); /* Center both vertically and horizontally */
    color: #f0e5ff;
    text-shadow: 0 4px 0px #9e63f3;
    font-size: 3rem; /* Adjust font size as needed */
    text-align: center;
    white-space: nowrap;
  }
  .text_text {
    position: absolute;
    top: 28%; /* Adjust vertical position */
    left: 50%; /* Center horizontally */
    transform: translate(
      -50%,
      -50%
    ); /* Center both vertically and horizontally */
    color: white;
    text-align: center;
    padding: 0 20px;
    line-height: 1.5;
    white-space: nowrap;
  }
  .pris_text {
    position: absolute;
    top: 30%; /* Adjust vertical position */
    left: 50%; /* Center horizontally */
    transform: translate(
      -50%,
      -50%
    ); /* Center both vertically and horizontally */
    color: white;
    text-align: center;
    padding: 0 20px;
    line-height: 1.5;
    font-size: 7rem;
  }
</style>
